USE [EPOWERLICENSE]
GO
/****** Object:  Table [dbo].[TBL_LICENSE]    Script Date: 05/17/2016 21:15:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LICENSE](
	[LICENSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LICENSE_NUMBER] [nvarchar](20)  NOT NULL,
	[FIRST_NAME] [nvarchar](100)  NOT NULL,
	[LAST_NAME] [nvarchar](100)  NOT NULL,
	[PHONE] [nvarchar](100)  NOT NULL,
	[CONTACT_NAME] [nvarchar](50)  NOT NULL,
	[ADDRESS] [nvarchar](200)  NOT NULL,
	[CREATE_ON] [datetime] NOT NULL CONSTRAINT [DF_TBL_LICENSE_CREATE_ON]  DEFAULT ('2016-04-04 00:00:00.000'),
	[IS_ACTIVE] [bit] NOT NULL CONSTRAINT [DF_TBL_LICENSE_IS_ACTIVE]  DEFAULT ((1)),
 CONSTRAINT [PK_TBL_LICENSE] PRIMARY KEY CLUSTERED 
(
	[LICENSE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
